html {
    font-family: "Poppins", sans-serif;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    list-style: none;
    color: #999;
    border: 1px solid transparent;
    
}
.container {
    width: 1920px;
    max-width: 100%;
    height: 100%;
    padding: 15px 10px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header-item {
    padding: 10px 10px;
    font-size: 18px;
}


.header-item:hover {
    background-color: #999;
    color: white;
}
.header-item:not(:first-child) {
    margin-left: 20px;
}
.banner-img {
    width: 100%;
    object-fit: cover;
    position: relative;
    margin-bottom: 20px;
}
.banner-heading {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(70, 70, 223);
    font-size: 80px;
    font-weight: 900;
    transform: translate(150%, 300%);
}
.info {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: red;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
}
.app {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.app-img {
    width: 250px;
    height: 280px;
}